
/Entidades/bin
/Entidades/obj
/LogicaNegocio/bin
/LogicaNegocio/obj
/SubPesca/Backup
/SubPesca/obj
/SubPesca/bin
/Validaciones/bin
/Validaciones/obj
/Pullinque4Setup/Debug
/SubPesca/.vs
Pullinque4.18.rar
/SubPesca/Properties/PublishProfiles
SubPesca/UpgradeLog.htm
