<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SubPesca.Properties.Settings.AmbientalConnectionString"
            connectionString="Data Source=192.168.1.123;Initial Catalog=Ambiental;User ID=sa;Password=pesca2014"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>