<?xml version="1.0"?>
<configuration>

    <configSections>
        <sectionGroup name="alertasSettings">
            <section name="DefaultSmtpProvider" type="System.Net.Configuration.SmtpSection"/>
        </sectionGroup>
    </configSections>


	
    <system.net>
        <mailSettings>
          <smtp from="pullinque4@gmail.com">
            <network host="smtp.gmail.com" port="25" userName="pullinque4@gmail.com" password="pesca2017" defaultCredentials="false" enableSsl="true" />
          </smtp>
        </mailSettings>
    </system.net>
    

	<!--
	<system.net>
		<mailSettings>
			<smtp from="sistemas2@subpesca.cl">
				<network host="10.20.1.226" port="25" userName="SistemaRCA@subpesca.cl" password="" defaultCredentials="false" enableSsl="false" />
			</smtp>
		</mailSettings>
	</system.net>
	-->

    <appSettings>
		<add key="maiDestinatarioErrores" value="cbustamantea@subpesca.cl" />

		<!-- SUPER QA -->
		
		<add key="superApiKey" value="36L3FGPFRJ3C7HJCAK9T6Z2AADA47JNNXVK" />
		<add key="superChileAtiendeId" value="AH002" />
		<add key="superBaseUrl" value="https://services.super.gob.cl/api/v1/" />
		
		
		<!-- SUPER PRODUCCION -->
		<!--
		<add key="superApiKey" value="36L3FGPFRJ3C7HJCAK9T6Z2AADA47JNNXVK" />
		<add key="superChileAtiendeId" value="AH002" />
		<add key="superBaseUrl" value="https://super.gob.cl/api/v1/" />
		-->
		
    </appSettings>
  
    <connectionStrings>

		<add connectionString="Data Source=10.20.1.130;Initial Catalog=Pullinque4;Persist Security Info=True;User ID=sa;Password=Rancosa2025;Connection Timeout=400" name="BDKeyAmbiental" providerName="System.Data.SqlClient" />
		
		<!--
		<add connectionString="Data Source=conguillio;Initial Catalog=Pullinque4;Persist Security Info=True;User ID=sa;Password=Rancosa2012;Connection Timeout=400" name="BDKeyAmbiental" providerName="System.Data.SqlClient" />
        -->
		<!--
		<add connectionString="Data Source=10.20.1.130;Initial Catalog=Pullinque4;Persist Security Info=True;User ID=sa;Password=Rancosa2025;Connection Timeout=400" name="BDKeyAmbiental" providerName="System.Data.SqlClient" />
        --> 
		<!--
		<add connectionString="Data Source=localhost;Initial Catalog=PULLINQUE_LOCAL;Persist Security Info=True;User ID=sa;Password=act_1663;Connection Timeout=400" name="BDKeyAmbiental" providerName="System.Data.SqlClient" />
		-->
    </connectionStrings>


 
  
    <system.web>
        
		<globalization uiCulture="es" culture="es-CL" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" />
  

        <!-- 
               MaxRequestLength propiedad especifica el límite para el umbral 
			   de almacenamiento en búfer del flujo de entrada. 
		       Por ejemplo, este límite se puede usar para evitar ataques de denegación de servicio 
			   causados por usuarios que publican archivos grandes en el servidor.
        -->
        <httpRuntime  maxRequestLength="20480" executionTimeout="360"/>
    
    
    
		<!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
        -->
		<compilation debug="true" targetFramework="4.0"></compilation>
		
		
		
		
		<sessionState mode="InProc" timeout="120"/>


		<!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
        <authentication mode="Forms">
            <forms loginUrl="~/ingreso.aspx" defaultUrl="~/Administrador/principal.aspx" timeout="120"></forms>
		</authentication>
    

        <authorization>
            <allow users="*"/>
        </authorization>
		
        <identity impersonate="true" />
    
		<!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.
        -->
		<customErrors mode="Off" defaultRedirect="~/errors/Error.aspx" redirectMode="ResponseRewrite">
            <error statusCode="403" redirect="~/errors/NoAccess.htm"/>
			<error statusCode="404" redirect="~/errors/FileNotFound.htm"/>
        </customErrors>
		
        <httpHandlers>
            <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
            <remove verb="*" path="*.asmx"/>
            <add verb="*" path="*.asmx"      type="System.Web.Script.Services.ScriptHandlerFactory"       validate="false"/>
		</httpHandlers>


        <webServices>
            <protocols>
                <add name="HttpGet"/>
                <add name="HttpPost"/>
            </protocols>
        </webServices>
    
        <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/></system.web>
  
  
  
        <location path="Administrador">
		    <system.web>
			    <authorization>
				    <deny users="?"/>
			    </authorization>
		    </system.web>
	    </location>

        <location path="Solicitudes">
            <system.web>
                <authorization>
                    <deny users="?"/>
            </authorization>
            </system.web>
        </location>
  
	    <!-- 
            La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
            Information Services 7.0. No es necesaria para la versión anterior de IIS.
			
			El elemento <validation> configura Internet Information Services (IIS) 7 para detectar si es necesario 
			cambiar una aplicación de ASP.NET configurada para ejecutarse en el modo clásico de .NET para que funcione correctamente en modo integrado.
        -->
        <system.webServer>
		    <validation validateIntegratedModeConfiguration="false"/>
	    </system.webServer>

</configuration>
